/* generell settings */
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --theme-background: white;
    --theme-background-invert: black;
    --theme-color: black;
    --theme-color-invert: white;
}

body,
input,
select,
textarea,
button,
label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--theme-color);
    background-color: var(--theme-background);
    font-size: 1rem;
}

input::placeholder {
    color: grey;
}

h1,
h2,
h3 {
    background-color: orange;
    padding: 1rem;
    border-radius: 5px;
}

p {
    padding: 0.25rem 0;
}

a {
    text-decoration: none;
    color: var(--theme-color-invert);
}

.btn {
    font-weight: 600;
    background-color: orange;
    text-decoration: none;
    border: 0;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    color: var(--theme-color-invert);
    border-radius: 5px;
}

.btn:hover {
    transition: background-color 0.3s;
    font-weight: 600;
    background-color: darkorange;
}

/* .current importaner then .btn */
.current {
    font-weight: 600;
    color: var(--theme-color);
    background-color: darkorange;
}

/* themes */
.dark-theme {
    --theme-background: black;
    --theme-background-invert: white;
    --theme-color: white;
    --theme-color-invert: black;
}

/* site grid */
.site {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.site .header {
    grid-area: header;
    background-color: orange;
    text-align: center;
    position: sticky;
    top: 0;
}

.site .main {
    grid-area: main;
    padding: 20px;
    margin: 5px;
    line-height: 1.7em;
}

.site .footer {
    grid-area: footer;
    padding: 20px;
    background: orange;
    color: var(--theme-color);
}

/* navbar */
.nav {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.nav-menu:hover {
    transition: background-color 0.3s;
    font-weight: 600;
    background-color: darkorange;
}

/* tasks */
.tasks {
    display: grid;
}

.tasks input,
.tasks textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}

.tasks input[type*="checkbox"] {
    width: 10%;
}

/* show task */
.show_task {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    margin: 20px;
}

.show_task > .task_desc {
    grid-column: 2 / 4;
}

.show_task > .task_edit {
    grid-column: 4;
    grid-row: 1 / 3;
    margin: 20px;
    align-items: center;
}

.task-title {
    font-weight: bold;
}

/* sort buttons */
.sort-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.sort-flex .btn {
    min-width: 15%;
}

.sort-flex .current::after {
    content: " ⇓";
}

/* dueDate styles */
.dueDate-tolate {
    color: red;
    font-weight: bold;
}

.dueDate-short {
    color: orange;
    font-weight: bold;
}

.dueDate-easy {
    color: green;
    font-weight: bold;
}
