body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

* {
    box-sizing: border-box;
}

.no-bullet {
    list-style-type: none;
}

.inline {
    display: inline;
}

h1 {
    background-color: orange;
    padding: 1rem;
}

input::placeholder {
    color: grey;
}
